$header:     #2F2E40;
$sidebar:    #6D7661;
$container:  #78B68E;
$white:      #FFFBD8;
$focus:      #499290;

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;

  header {
    grid-column: span 2;
  }
}

header {
  background-color: $header;
  color: $white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.sidebar {
  background-color: $sidebar;
  color: $white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: flex-start ;
  padding: 20px;
  gap: 8px;

  button {
    margin-top: 20px;
    grid-column: span 2;
  }

  #warning {
    display: none;
    grid-column: span 2;
    text-align: center;
    color: rgb(150, 14, 14);
  }
}

.container {
  background-color: $container;
  text-align: center;
  padding: 20px;

  display: grid;
  align-items: start;

  table {
    background-color: whitesmoke;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    th,td {
      border: 1px solid rgba(255, 255, 255, 0.534);
    }

    tr:nth-child(2n - 1) {
      background-color: #49929071;
    }

    tr:nth-child(2n) {
      background-color: #49929049;
    }

    th {
      padding: 20px;
      background-color: #499290;
      font-size: 1.1rem;
    }

    td {
      padding: 10px;
    }
  }
}
